@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #ffffff;
    opacity: 0;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #424242, #424242);
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #424242, #424242);
  }